<mat-card>
    <mat-card-title>Deletar Produto</mat-card-title>
    <mat-card-subtitle class="subtitle">
        Deseja realmente deletar o produto?
    </mat-card-subtitle>

    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" disabled [value]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" disabled [value]="product.price" name="price">
        </mat-form-field>
    </form>

    <button id="deletar" mat-raised-button (click)="deleteProduct()" color="warn">
        Deletar
    </button>
    
    <button id="cancelar" mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
